h1 {
    font-size: 45px;
    font-weight: 100;
    color: #F1FAEE;
    background-color: #1D3557;
    background-position: center;

 } 
 h2 {
     color: #F1FAEE;
     background-color: #457B9D;
     font-family: serif;
 }
 #Note1 {
     color:#E63946 ;
 }
 #Note2 {
    color:#E63946 ;
}
#Note3 {
    color:#E63946 ;
}
#Note4 {
    color:#E63946 ;
}
#Note5 {
    color:#E63946 ;
}
